<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978975657714-9d3s19vuqgns2ftetbogaig31absv0sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978975657714-9d3s19vuqgns2ftetbogaig31absv0sb</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ofE5kS5HwbaY_UBCWUZsEjUU7gEv1Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>978975657714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newFirebaseClass</string>
	<key>PROJECT_ID</key>
	<string>new-firebase-project-2a91e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-firebase-project-2a91e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978975657714:ios:b298e571de27f2bcc1ca6b</string>
</dict>
</plist>